<table class="table table-hover">
    <tr>
        <td width="40px">
            {% if entry.chronicler.username %}
            <a href="{{ url_for('main.user', username=entry.chronicler.username) }}">
                <img src="{{ entry.chronicler.avatar(40) }}" width="40px" height="40px"/>
            </a>
            {% else %}
            <img src="{{ entry.chronicler.avatar(40) }}" width="40px" height="40px"/>
            {% endif %}
        </td>
        <td>
            {% set user_link %}
                <span class="user_popup">
                    {% if entry.chronicler.username %}
                    <a href="{{ url_for('main.user', username=entry.chronicler.username) }}">
                        {{ entry.chronicler.get_username() }}
                    </a>
                    {% else %}
                    {{ entry.chronicler.get_username() }}
                    {% endif %}
                </span>
            {% endset %}
            {% set entry_link %}
                <a href="{{ url_for('chronicle.chronicle_entry', entry_id=entry.id) }}">
                    {% if entry.has_title() %}
                    {{ entry.get_title() }}
                    {% else %}
                    {{ _('an entry') }}
                    {% endif %}
                </a>
            {% endset %}
            {{ _('%(username)s wrote %(e)s',
                    username=user_link, e=entry_link) }}
        </td>
    </tr>
</table>