{% import "macros.html" as m %}

<tr>
    <td width="40px"></td>
    <td width="40px">
        {% if reply.author.username %}
        <a href="{{ url_for("main.user", username=reply.author.username) }}">
            <img src="{{ reply.author.avatar(40) }}" width="40px" height="40px"/>
        </a>
        {% else %}
        <img src="{{ reply.author.avatar(40) }}" width="40px" height="40px"/>
        {% endif %}
    </td>
    <td>
        {% set user_link %}
            <span class="user_popup">
                {% if reply.author.username %}
                <a href="{{ url_for("main.user", username=reply.author.username) }}">
                    {{ reply.author.get_username() }}
                </a>
                {% else %}
                {{ reply.author.get_username() }}
                {% endif %}
            </span>
        {% endset %}
        {{ _("%(username)s replied %(when)s", username=user_link, when=moment(reply.timestamp).fromNow()) }}
        <p style="text-align: justify;">{{ reply.body|markdown }}</p>
        {% if on_index_page and (current_user.id == reply.author.id or current_user.is_admin()) %}
        <span class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                {{ _("Options") }} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% if current_user.id == reply.author.id %}
                <li>
                    <a href="{{ url_for("main.edit_post", post_id=reply.id) }}"><span style="font-size:40px;">&#9998;</span></a>
                </li>
                {% endif %}
                {% if current_user.is_admin() %}
                <li>
                    <a href="{{ url_for("main.delete_post", post_id=reply.id) }}"><span style="font-size:40px;">&#10060;</span></a>
                </li>
                {% endif %}
            </ul>
        </span>
        {% endif %}
    </td>
</tr>