{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros.html" as m %}

{% block head %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock head %}

{% block app_content %}
    <h1>{{ _("Hi, %(username)s!", username=current_user.username) }}</h1>
    {{ m.post_form(form, current_user, True) }}
    {% for post in posts %}
        {% include "main/_post.html" %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or "#" }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or "#" }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for("static",filename="scripts/tableFilters.js") }}"></script>
{% endblock %}