<table class="table table-hover">
    <tr>
        <td width="40px">
            {% if invoice.creditor.username %}
            <a href="{{ url_for("main.user", username=invoice.creditor.username) }}">
                <img src="{{ invoice.creditor.avatar(40) }}" width="40px" height="40px"/>
            </a>
            {% else %}
            <img src="{{ invoice.creditor.avatar(40) }}" width="40px" height="40px"/>
            {% endif %}
        </td>
        <td>
            {% set user_link %}
                <span class="user_popup">
                    {% if invoice.creditor.username %}
                    <a href="{{ url_for("main.user", username=invoice.creditor.username) }}">
                        {{ invoice.creditor.get_username() }}
                    </a>
                    {% else %}
                    {{ invoice.creditor.get_username() }}
                    {% endif %}
                </span>
            {% endset %}
            <p>{{ _("%(username)s paid %(amount)s", username=user_link, amount=invoice.amount) }}</p>
            <p>{{ invoice.title }}</p>
        </td>
        <td style="text-align: right;">
            <p><div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                {{ _("Sharers") }} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
            {% for sharer in invoice.sharers %}
                <li>
                {{ _("%(username)s", username=sharer.get_username()) }}
                </li>
            {% endfor %}
            </ul>
            </div></p>
        </td>
        {% if current_user.is_admin() or current_user.username == invoice.creditor.username %}
        <td style="text-align: right;" width="40px;">
        <a href="{{ url_for("festival.edit_invoice", f_title=festival.title, p_title=invoice.title) }}">
            <span style="font-size:40px;">&#9998;</span>
        </a>
        </td>
        <td style="text-align: right;" width="40px;">
            <a href="{{ url_for("festival.delete_invoice", f_title=festival.title, invoice_id=invoice.id) }}">
                <span style="font-size:40px;">&#10060;</span>
            </a>
        </td>
        {% endif %}
    </tr>
</table>