{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ _('Festival Overview') }}</h1>
    {% if current_user.is_admin() %}
    <p><a href="{{ url_for('festival.create_festival') }}">{{ _('Create festival') }}</a></p>
    {% endif %}
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
    {% for festival in festivals %}
        {% include 'festival/_festival.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}