<tr>
    <td width="40px">
        {% if item.ConsumptionItem.requestor.username %}
        <a href="{{ url_for('main.user', username=item.ConsumptionItem.requestor.username) }}">
            <img src="{{ item.ConsumptionItem.requestor.avatar(40) }}" width="40px" height="40px"/>
        </a>
        {% else %}
        <img src="{{ item.ConsumptionItem.requestor.avatar(40) }}" width="40px" height="40px"/>
        {% endif %}
    </td>
    <td>
        {% set user_link %}
            <span class="user_popup">
                {% if item.ConsumptionItem.requestor.username %}
                <a href="{{ url_for('main.user', username=item.ConsumptionItem.requestor.username) }}">
                    {{ item.ConsumptionItem.requestor.get_username() }}
                </a>
                {% else %}
                {{ item.ConsumptionItem.requestor.get_username() }}
                {% endif %}
            </span>
        {% endset %}
        <span>
            {{ item.ConsumptionItem.name }}: {{ item.ConsumptionItem.amount }} {{ item.PackagingUnitType.abbreviation }}
        </span>
        {% if item.ConsumptionItem.info %}
        <span>
            ({{ item.ConsumptionItem.info }})
        </span>
        {% endif %}
    </td>
    <td style="text-align: right;">
        <a href="{{ url_for('purchase.check_off', item_id=item.ConsumptionItem.id) }}">
            <span style='font-size:40px;'>&#9989;</span>
        </a>
    </td>
</tr>