{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ _('Shopping List') }}</h1>
    <p><a href="{{ url_for('purchase.finish_purchase') }}">{{ _('Finish purchase') }}</a></p>
    <p><input type="text" id="shoppingFilter" onkeyup="shoppingTableFilter()" placeholder="{{ _('Search for items') }}"></p>
    <table id="shoppingTable" class="table table-hover">
    {% for item in items %}
        {% include 'purchase/_purchase.html' %}
    {% endfor %}
    </table>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static',filename='scripts/tableFilters.js') }}"></script>
{% endblock %}
