{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
    <h1>{{ _("Wishlist") }}</h1>
    {% if shopping_list_empty %}
        {% if current_user.is_admin() %}
        <p>
            {{ wtf.quick_form(form) }}
        </p>
        {% endif %}
    {% else %}
    <p><a href="{{ url_for("purchase.shopping_list") }}">{{ _("Shopping list") }}</a></p>
    {% endif %}
    <p><a href="{{ url_for("purchase.add_request") }}">{{ _("Add item") }}</a></p>
    <p><input type="text" id="wishlistFilter" onkeyup="wishlistTableFilter()" placeholder="{{ _("Search for items") }}"></p>
    <table id="wishlistTable" class="table table-hover">
    {% for item in items %}
        {% include "purchase/_stock.html" %}
    {% endfor %}
    </table>
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for("static",filename="scripts/tableFilters.js") }}"></script>
{% endblock %}